<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
<META HTTP-EQUIV="pragma" CONTENT="no-cache"/>
<META HTTP-EQUIV="Cache-Control" CONTENT="no-store, must-revalidate"/>
<META HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT"/>
<META HTTP-EQUIV="expires" CONTENT="0"/>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>东阳光招投标网站</title>
    <!-- import Vue.js -->
    <script src="http://vuejs.org/js/vue.min.js" th:src="@{http://vuejs.org/js/vue.min.js}"></script>
    <!-- import stylesheet -->
    <link href="http://unpkg.com/view-design/dist/styles/iview.css"
          th:src="@{http://unpkg.com/view-design/dist/styles/iview.css}" rel="stylesheet">
    <!-- import iView -->
    <script src="http://unpkg.com/view-design/dist/iview.min.js"
            th:src="@{http://unpkg.com/view-design/dist/iview.min.js}"></script>
</head>
<style scoped>
    .layout {
        border: 1px solid #d7dde4;
        background: #f5f7f9;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
    }

    .layout-logo {
        width: 30%;
        height: 30px;
        border-radius: 3px;
        float: left;
        position: relative;
        top: 15px;
        left: 20px;
    }
    .layout-logo img {
        height: 40px
    }

    .layout-nav {
        float: right;
    }
    .logo-title{
        height: 100%;
        position: absolute;
        bottom: 10px;
        padding-left: 10px;
        color: white;
        font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
        font-size: 28px;
    }
</style>
<body>
<div id="app">
    <template>
        <div class="layout">
            <Layout>
                <Layout th:include="hender"></Layout>
                <Layout>
                    <Sider hide-trigger :style="{background: '#fff'}" th:include="sider"></Sider>
                    <Layout :style="{padding: '0 24px 24px'}">
                        <Breadcrumb :style="{margin: '24px 0'}">
                            <BreadcrumbItem>Home</BreadcrumbItem>
                            <BreadcrumbItem>Components</BreadcrumbItem>
                            <BreadcrumbItem>Layout</BreadcrumbItem>
                        </Breadcrumb>
                        <Content :style="{padding: '24px', minHeight: '1200px', background: '#fff'}">

                            <template>
                                <i-Table border :columns="columns2" :data="data2"></i-Table>
                            </template>
                        </Content>
                    </Layout>
                </Layout>
            </Layout>
        </div>
    </template>
</div>
</body>

<script src="../static/js/axios.min.js" th:src="@{../js/axios.min.js}"></script>
<script type="module">
    import menuSelect from '../js/menu_select.js';
    var app = new Vue({
        el: '#app',
        data() {
            return {
                activeName: '1-2',
                template_1: true,
                template_2: false,
                columns1: [
                    {
                        title: 'Name',
                        key: 'name'
                    },
                    {
                        title: 'Age',
                        key: 'age'
                    },
                    {
                        title: 'Address',
                        key: 'address'
                    }
                ],
                data1: [
                    {
                        name: 'John Brown',
                        age: 18,
                        address: 'New York No. 1 Lake Park',
                        date: '2016-10-03'
                    },
                    {
                        name: 'Jim Green',
                        age: 24,
                        address: 'London No. 1 Lake Park',
                        date: '2016-10-01'
                    },
                    {
                        name: 'Joe Black',
                        age: 30,
                        address: 'Sydney No. 1 Lake Park',
                        date: '2016-10-02'
                    },
                    {
                        name: 'Jon Snow',
                        age: 26,
                        address: 'Ottawa No. 2 Lake Park',
                        date: '2016-10-04'
                    }
                ],


                columns2: [
                    {
                        title: 'Name2',
                        key: 'name'
                    },
                    {
                        title: 'Age2',
                        key: 'age'
                    },
                    {
                        title: 'Address2',
                        key: 'address'
                    }
                ],
                data2: [
                    {
                        name: 'John Brow2n',
                        age: 18,
                        address: 'New York No. 1 Lake Park',
                        date: '2016-10-03'
                    },
                    {
                        name: 'Jim Green2',
                        age: 24,
                        address: 'London No. 1 Lake Park',
                        date: '2016-10-01'
                    },
                    {
                        name: 'Joe Black2',
                        age: 30,
                        address: 'Sydney No. 1 Lake Park',
                        date: '2016-10-02'
                    },
                    {
                        name: 'Jon Snow',
                        age: 26,
                        address: 'Ottawa No. 2 Lake Park',
                        date: '2016-10-04'
                    }
                ]
            }
        },
        methods: {
            menu_switch(name) {
                this.template_1=false;
                this.template_2=false;
                if ('1-1' == name) {
                    this.template_1=true
                } else if ('1-2' == name) {
                    this.template_2=true
                }
            },
            page_change (page) {
                console.log(page)
            },
            menu_select(name) {
                menuSelect.menu_select(name)
            }
        }
    })
</script>
</html>

