<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
<META HTTP-EQUIV="pragma" CONTENT="no-cache"/>
<META HTTP-EQUIV="Cache-Control" CONTENT="no-store, must-revalidate"/>
<META HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT"/>
<META HTTP-EQUIV="expires" CONTENT="0"/>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>东阳光招投标网站</title>
    <!-- import Vue.js -->
    <script src="http://vuejs.org/js/vue.min.js" th:src="@{http://vuejs.org/js/vue.min.js}"></script>
    <!-- import stylesheet -->
    <link href="http://unpkg.com/view-design/dist/styles/iview.css"
          th:src="@{http://unpkg.com/view-design/dist/styles/iview.css}" rel="stylesheet">
    <!-- import iView -->
    <script src="http://unpkg.com/view-design/dist/iview.min.js"
            th:src="@{http://unpkg.com/view-design/dist/iview.min.js}"></script>
</head>
<style scoped>
    .layout {
        border: 1px solid #d7dde4;
        background: #f5f7f9;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
    }

    .layout-logo {
        width: 30%;
        height: 30px;
        border-radius: 3px;
        float: left;
        position: relative;
        top: 15px;
        left: 20px;
    }
    .layout-logo img {
        height: 40px
    }

    .layout-nav {
        float: right;
    }
    .logo-title{
        height: 100%;
        position: absolute;
        bottom: 10px;
        padding-left: 10px;
        color: white;
        font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
        font-size: 28px;
    }
</style>
<style>
    .center-header {
        margin: 10px;
        line-height: 30px;
        height: 30px;
    }
    .center-header-title{
        text-align: left;
        color: #3291F8;
        font-size: 20px;
    }
    .center-header-title-icon{
        font-weight: 900
    }
    .center-header-title-text{

    }
    .center-header-desc{
        text-align: left;
        color: #000000;
        font-size: 20px;
    }
    .center-header-number{
        text-align: left;
        color: #000000;
        font-size: 20px;
    }
    .center-right{
        border: 1px solid rgba(187, 187, 187, 100);
        margin: 10px;
        height: 200px;
        font-size: 28px;
        text-align: center;
        color: #000000;
    }
    .center-right>div {
        margin: 34px 60px;
    }
</style>
<body>
<div id="app">
    <template>
        <div class="layout">
            <Layout>
                <Layout th:include="hender"></Layout>
                <Layout>
                    <Sider hide-trigger :style="{background: '#fff'}" th:include="sider"></Sider>
                    <Layout :style="{padding: '0 24px 24px'}">
                        <Content :style="{padding: '24px', minHeight: '1200px', background: '#fff'}">
                            <Row>
                                <i-col span="8">
                                    <i-input search enter-button placeholder="输入搜索关键字" v-model="kayward" @on-search="query"/>
                                </i-col>
                            </Row>
                            <Row style="padding: 10px 0">
                                <template>
                                    <List item-layout="vertical">
                                        <template v-for="item in data" :key="item.title">
                                            <row style="border: 1px solid rgba(187, 187, 187, 100);margin-bottom: 10px;">
                                                <i-Col span="18">
                                                    <div>
                                                        <Row class="center-header">
                                                            <i-Col span="2" class="center-header-title">
                                                                <span class="center-header-title-icon">|</span>
                                                                <span class="center-header-title-text">项目</span>
                                                            </i-Col>
                                                            <i-Col span="18" class="center-header-desc">
                                                                东阳光集团宜都工业园区智慧管理中心设计方案
                                                            </i-Col>
                                                            <i-Col span="4" class="center-header-number">
                                                                编号：9527
                                                            </i-Col>
                                                        </Row>
                                                    </div>
                                                    <div style="padding: 10px">
                                                        <i-Table border :loading="loading" ref="selection" :columns="columns1" :data="data1">
                                                            <template slot-scope="{ row, index }" slot="action">
                                                                <i-button type="primary" size="small" @click="modal2 = true">编辑</i-button>
                                                            </template>
                                                        </i-Table>
                                                    </div>
                                                </i-Col>
                                                <i-Col span="6">
                                                    <div class="center-right">
                                                        <div>距离投标结束</div>
                                                        <div>1天12时23分02秒</div>
                                                    </div>
                                                </i-Col>
                                            </row>
                                        </template>
                                        <Page :total="page_total" style="float: right;" show-total show-sizer show-elevator @on-change="page_change" @on-page-size-change="page_size"/>
                                    </List>
                                </template>
                            </Row>
                        </Content>
                    </Layout>
                </Layout>
            </Layout>
        </div>
    </template>
</div>
</body>

<script src="../static/js/axios.min.js" th:src="@{../js/axios.min.js}"></script>
<script type="module">
    import menuSelect from '../js/menu_select.js';
    var app = new Vue({
        el: '#app',
        data() {
            return {
                activeName: '1-2',
                kayward: '',
                loading: false,
                page_total: 100,
                data: [
                    {
                        title: 'This is title 1',
                        description: 'This is description, this is description, this is description22.',
                        avatar: 'https://dev-file.iviewui.com/userinfoPDvn9gKWYihR24SpgC319vXY8qniCqj4/avatar',
                        content: 'This is the content, this is the content, this is the content, this is the content111.'
                    },
                    {
                        title: 'This is title 2',
                        description: 'This is description, this is description, this is description22.',
                        avatar: 'https://dev-file.iviewui.com/userinfoPDvn9gKWYihR24SpgC319vXY8qniCqj4/avatar',
                        content: 'This is the content, this is the content, this is the content, this is the content111.'
                    },
                    {
                        title: 'This is title 3',
                        description: 'This is description, this is description, this is description22.',
                        avatar: 'https://dev-file.iviewui.com/userinfoPDvn9gKWYihR24SpgC319vXY8qniCqj4/avatar',
                        content: 'This is the content, this is the content, this is the content, this is the content111.'
                    }
                ],
                columns1: [
                    {
                        type: 'selection',
                        width: 60,
                        align: 'center'
                    },
                    {
                        title: 'Name',
                        key: 'name'
                    },
                    {
                        title: 'Age',
                        key: 'age'
                    },
                    {
                        title: 'Address',
                        key: 'address'
                    },
                    {
                        title: 'Action',
                        slot: 'action',
                        width: 150,
                        align: 'center'
                    }
                ],
                data1: [
                    {
                        name: 'John Brown',
                        age: 18,
                        address: 'New York No. 1 Lake Park',
                        date: '2016-10-03'
                    },
                    {
                        name: 'Jim Green',
                        age: 24,
                        address: 'London No. 1 Lake Park',
                        date: '2016-10-01'
                    },
                    {
                        name: 'Joe Black',
                        age: 30,
                        address: 'Sydney No. 1 Lake Park',
                        date: '2016-10-02'
                    },
                    {
                        name: 'Jon Snow',
                        age: 26,
                        address: 'Ottawa No. 2 Lake Park',
                        date: '2016-10-04'
                    }
                ]
            }
        },
        methods: {
            page_change (page) {
                console.log(page)
            },
            menu_select(name) {
                menuSelect.menu_select(name)
            },
            page_change (page) {
                console.log(page)
            },
            page_size (size) {
                console.log(size)
            },
            query() {
                console.log(this.kayward)
                // axios.get('/json')
                //     .then(response => (console.log("111   " + response)))
                //     .catch(function (error) { // 请求失败处理
                //         console.log(error);
                //     });
            }
        }
    })
</script>
</html>

