<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
<META HTTP-EQUIV="pragma" CONTENT="no-cache"/>
<META HTTP-EQUIV="Cache-Control" CONTENT="no-store, must-revalidate"/>
<META HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT"/>
<META HTTP-EQUIV="expires" CONTENT="0"/>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>东阳光投标报价系统</title>
    <!-- import Vue.js -->
<!--    <script src="http://vuejs.org/js/vue.min.js" th:src="@{http://vuejs.org/js/vue.min.js}"></script>-->
    <!--引入vue.min.js-->
    <script src="../static/js/vue.min.js" th:src="@{../js/vue.min.js}"></script>
    <!-- import stylesheet -->
    <link href="http://unpkg.com/view-design/dist/styles/iview.css"
          th:src="@{http://unpkg.com/view-design/dist/styles/iview.css}" rel="stylesheet">
    <!-- import iView -->
    <script src="http://unpkg.com/view-design/dist/iview.min.js"
            th:src="@{http://unpkg.com/view-design/dist/iview.min.js}"></script>
</head>
<style scoped>
    .layout {
        border: 1px solid #d7dde4;
        background: #f5f7f9;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
    }

    .layout-logo {
        width: 30%;
        height: 30px;
        border-radius: 3px;
        float: left;
        position: relative;
        top: 15px;
        left: 20px;
    }
    .layout-logo img {
        height: 40px
    }

    .layout-nav {
        float: right;
    }
    .logo-title{
        height: 100%;
        position: absolute;
        bottom: 10px;
        padding-left: 10px;
        color: white;
        font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
        font-size: 28px;
    }
</style>
<style>
    .supplier-info {
        font-size: 18px;
        color: rgba(16, 16, 16, 100);
        margin: 10px;
    }
</style>
<body>
<div id="app">
    <template>
        <div class="layout">
            <Layout>
                <Layout th:include="hender"></Layout>
                <Layout>
                    <Sider hide-trigger :style="{background: '#fff'}" th:include="sider"></Sider>
                    <Layout :style="{padding: '0 24px 24px'}" shiro:hasAnyRoles="BUYER,AUDITOR,BUYER_ADMIN,BUYER_CHIEF">
                        <Content :style="{padding: '24px', minHeight: '900px', background: '#fff'}">
                            <row style="border: 1px solid rgba(187, 187, 187, 100);margin-bottom: 10px;padding: 50px;">
                                <i-Col span="18">
                                    <div class="supplier-info">职位：{{buyerEntity2.positionStr}}</div>
                                    <div class="supplier-info">姓名：{{buyerEntity2.username}}</div>
                                    <div class="supplier-info">联系电话：{{buyerEntity2.phoneNumber}}</div>
                                    <div class="supplier-info">任职公司：{{buyerEntity2.departmentStr}}</div>
                                    <div class="supplier-info">
                                        <i-button @click="show()">编辑</i-button>
                                    </div>
                                </i-Col>
                            </row>
                        </Content>
                    </Layout>
                    <Layout :style="{padding: '0 24px 24px'}" shiro:hasRole="ADMIN">
                        <Content :style="{padding: '24px', minHeight: '900px', background: '#fff'}">
                            <Row>
                                <i-col span="8">
                                    <i-input search enter-button placeholder="输入搜索关键字" v-model="kayword" @on-search="queryInput"/>
                                </i-col>
                                <i-col span="3" offset="13">
                                    <i-button type="success" @click="modal1 = true">新增</i-button>
<!--                                    <i-button type="error" @click="deleteTable">删除</i-button>-->
                                    <Poptip
                                            confirm
                                            title="确定删除数据?"
                                            @on-ok="deleteTable"
                                            @on-cancel="deleteCancel">
                                        <i-button type="error">删除</i-button>
                                    </Poptip>
                                </i-col>
                            </Row>
                            <Row style="padding: 10px 0">
                                <i-Table border ref="selection" :columns="columns1" :data="data1">
                                    <template slot-scope="{ row, index }" slot="action">
                                        <i-button type="primary" size="small" @click="show(row)">编辑</i-button>
                                    </template>
                                </i-Table>
                            </Row>
                            <Row>
                                <i-col span="8">
                                    <i-button @click="handleSelectAll(true)">设置全选</i-button>
                                    <i-button @click="handleSelectAll(false)">取消全选</i-button>
                                </i-col>
                                <i-col span="12" offset="4">
                                    <div style="float: right;">
                                        <Page :total="page_total" show-total show-sizer  @on-change="page_change" @on-page-size-change="page_size"/>
                                    </div>
                                </i-col>
                            </Row>
                        </Content>
                    </Layout>
                </Layout>
            </Layout>
        </div>

        <Modal
                title="新增采购员"
                v-model="modal1"
                @on-ok="addBuyerEntity('addBuyerEntity')"
                @on-cancel="cancel('addBuyerEntity')"
                :loading="model1_loading"
                ok-text="提交"
                cancel-text="取消">
            <i-Form ref="addBuyerEntity" :model="buyerEntity" :rules="ruleBuyerEntity" :label-width="80">
                <Form-Item label="职位" prop="position">
                    <i-Select v-model="buyerEntity.position" placeholder="请选择职位">
                        <i-Option v-for="(item, index) in positions" :key="item.id" :value="item.code">{{ item.name }}</i-Option>
                    </i-Select>
                </Form-Item>
                <Form-Item label="姓名" prop="username">
                    <i-Input type="text" v-model="buyerEntity.username" placeholder="请输入姓名"></i-Input>
                </Form-Item>
                <Form-Item label="联系电话" prop="phoneNumber">
                    <i-Input type="text" v-model="buyerEntity.phoneNumber" placeholder="请输入联系电话"></i-Input>
                </Form-Item>
<!--                <Form-Item label="任职公司" prop="department">-->
<!--                    <i-Input type="text" v-model="buyerEntity.department" placeholder="请选择公司"></i-Input>-->
<!--                </Form-Item>-->
                <Form-Item label="任职公司" prop="department" placeholder="请选择公司">
                    <i-Select v-model="buyerEntity.department">
                        <i-Option v-for="(item, index) in companys" :key="item.id" :value="item.code">{{ item.name }}</i-Option>
                    </i-Select>
                </Form-Item>

                <Form-Item label="新增帐号" prop="account">
                    <i-Input type="text" v-model="buyerEntity.account" placeholder="请输入账号/工号"></i-Input>
                </Form-Item>
                <Form-Item label="密码设置" prop="password">
                    <i-Input type="password" v-model="buyerEntity.password" placeholder="请设置密码"></i-Input>
                </Form-Item>
                <Form-Item label="密码确认" prop="passwordSecond">
                    <i-Input type="password" v-model="buyerEntity.passwordSecond" placeholder="请确认密码"></i-Input>
                </Form-Item>
            </i-Form>
        </Modal>

        <Modal
                title="编辑采购员"
                v-model="modal2"
                @on-ok="updateBuyerEntity('updateBuyerEntity')"
                @on-cancel="cancel('updateBuyerEntity')"
                :loading="model1_loading"
                ok-text="提交"
                cancel-text="取消">
            <i-Form ref="updateBuyerEntity" :model="buyerEntity" :label-width="80">
                <Form-Item label="职位" prop="position" placeholder="请选择职位" shiro:hasRole="ADMIN">
                    <i-Select v-model="buyerEntity.position">
                        <i-Option v-for="(item, index) in positions" :key="item.id" :value="item.code">{{ item.name }}</i-Option>
                    </i-Select>
                </Form-Item>
                <Form-Item label="职位" prop="position" placeholder="请选择职位" shiro:lacksRole="ADMIN">
                    <i-Select :disabled="true" v-model="buyerEntity.position">
                        <i-Option v-for="(item, index) in positions" :key="item.id" :value="item.code">{{ item.name }}</i-Option>
                    </i-Select>
                </Form-Item>
                <Form-Item label="姓名" prop="username">
                    <i-Input type="text" v-model="buyerEntity.username"></i-Input>
                </Form-Item>
                <Form-Item label="联系电话" prop="phoneNumber">
                    <i-Input type="text" v-model="buyerEntity.phoneNumber"></i-Input>
                </Form-Item>
                <Form-Item label="任职公司" prop="department" placeholder="请选择公司" shiro:hasRole="ADMIN">
                    <i-Select v-model="buyerEntity.department">
                        <i-Option v-for="(item, index) in companys" :key="item.id" :value="item.code">{{ item.name }}</i-Option>
                    </i-Select>
                </Form-Item>
                <Form-Item label="任职公司" prop="department" placeholder="请选择公司" shiro:lacksRole="ADMIN">
                    <i-Select :disabled="true" v-model="buyerEntity.department">
                        <i-Option v-for="(item, index) in companys" :key="item.id" :value="item.code">{{ item.name }}</i-Option>
                    </i-Select>
                </Form-Item>
                <div shiro:hasRole="ADMIN">
                    <Form-Item label="用户帐号" prop="account">
                        <i-Input type="text" disabled="disabled" v-model="buyerEntity.account"></i-Input>
                    </Form-Item>
                    <Form-Item label="密码设置" prop="password">
                        <i-Input type="password" v-model="buyerEntity.password"></i-Input>
                    </Form-Item>
                    <Form-Item label="密码确认" prop="passwordSecond">
                        <i-Input type="password" v-model="buyerEntity.passwordSecond"></i-Input>
                    </Form-Item>
                </div>
            </i-Form>
        </Modal>
    </template>
</div>
</body>
<script src="../static/js/axios.min.js" th:src="@{../js/axios.min.js}"></script>
<script type="module">
    import menuSelect from '../js/menu_select.js';
    var app = new Vue({
        el: '#app',
        data() {
            return {
                activeName: '1-4',
                kayword: '',
                page: 1,
                page_size: 10,
                page_total: 100,

                modal1: false,
                model1_loading: true,
                modal2: false,

                model_updatepwd: false,
                pwdEntity: {},
                companys: [],
                positions: [],

                ruleBuyerEntity: {
                    position: [
                        { required: true, message: '必须输入职位', trigger: 'change' }
                    ],
                    username: [
                        { required: true, message: '必须输入姓名', trigger: 'blur' }
                    ],
                    department: [
                        { required: true, message: '必须输入公司', trigger: 'change' }
                    ],

                    account: [
                        { required: true, message: '必须设置帐号', trigger: 'blur' }
                    ],
                    password: [
                        { required: true, message: '必须设置密码', trigger: 'blur' }
                    ],
                    passwordSecond: [
                        { required: true, message: '必须确认密码', trigger: 'blur' }
                    ],
                },
                buyerEntity: {},
                buyerEntity2: {},
                columns1: [
                    {
                        type: 'selection',
                        width: 60,
                        align: 'center'
                    },
                    {
                        title: '姓名',
                        key: 'username'
                    },
                    {
                        title: '职位',
                        key: 'positionStr'
                    },
                    {
                        title: '联系电话',
                        key: 'phoneNumber'
                    },
                    {
                        title: '所在公司',
                        key: 'departmentStr'
                    },
                    {
                        title: '操作',
                        slot: 'action',
                        width: 150,
                        align: 'center'
                    }
                ],
                data1: []
            }
        },
        created: function () {
            this.query();
            this.getDict('company');
            this.getDict('role');
        },
        methods: {
            getDict(type) {
                var obj = {
                    type: type,
                    isValid: "1"
                };
                var thiz = this;
                axios.post('/dict/getList', obj)
                    .then(response => {
                        response = response.data;
                        if (response.code == 200) {
                            if (type == 'company') {
                                thiz.companys = response.data
                            } else if (type == 'role') {
                                thiz.positions = response.data
                            }
                        } else {
                            console.log(response.msg)
                        }
                    })
                    .catch(function (error) { // 请求失败处理
                        console.log(error)
                    });
            },
            deleteTable() {
                var selected = this.$refs.selection.getSelection();
                if(selected.length===0){
                    this.$Message.error({
                        content: '请先勾选要删除的数据!',
                        duration: 3,
                        closable: true
                    });
                }
                selected = selected.map(item => {
                    return item.id
                });
                if (selected.length == 0) {
                    return
                }
                var thiz = this;
                axios.get('/buyer/delete?ids=' + selected.join(","))
                    .then(response => {
                        response = response.data;
                        if (response.code == 200) {
                            thiz.query();
                        }
                        thiz.$Message.info({
                            content: response.msg,
                            duration: 10,
                            closable: true
                        });
                    })
                    .catch(function (error) { // 请求失败处理
                        thiz.$Message.error({
                            content: error,
                            duration: 10,
                            closable: true
                        });
                    });
            },
            deleteCancel () {
                this.$refs.selection.selectAll(false);
            },
            handleSelectAll (status) {
                this.$refs.selection.selectAll(status);
            },

            addBuyerEntity (name) {
                this.$refs[name].validate((valid) => {
                    if (valid) {
                        if (this.buyerEntity.passwordSecond != this.buyerEntity.password) {
                            this.$Message.error({
                                content: '两个密码输入不一致',
                                duration: 10,
                                closable: true
                            });
                            this.model1_loading = false;
                            this.$nextTick(() => {
                                this.model1_loading = true
                            });
                            return;
                        }
                        var thiz = this;
                        axios.post('/buyer/add', this.buyerEntity)
                            .then(response => {
                                response = response.data;
                                if (response.code == 200) {
                                    thiz.query();
                                    thiz.buyerEntity = {};
                                    thiz.modal1 = false; // 关闭窗口
                                } else {
                                    thiz.model1_loading = false;
                                    thiz.$nextTick(() => {
                                        thiz.model1_loading = true
                                    })
                                }
                                thiz.$Message.info({
                                    content: response.msg,
                                    duration: 10,
                                    closable: true
                                });
                            })
                            .catch(function (error) { // 请求失败处理
                                thiz.$Message.error({
                                    content: error,
                                    duration: 10,
                                    closable: true
                                });
                                thiz.model1_loading = false;
                                thiz.$nextTick(() => {
                                    thiz.model1_loading = true
                                })
                            });
                    } else {
                        this.model1_loading = false;
                        this.$nextTick(() => {
                            this.model1_loading = true
                        })
                    }
                })
            },

            show(row) {
                if (row == undefined) {
                    row = this.buyerEntity2
                }
                this.modal2 = true;
                this.buyerEntity=Object.assign({}, row);
            },

            updateBuyerEntity (name) {
                var thiz = this;
                if (this.buyerEntity.passwordSecond != this.buyerEntity.password) {
                    this.$Message.error({
                        content: '两个密码输入不一致',
                        duration: 10,
                        closable: true
                    });
                    this.model1_loading = false;
                    this.$nextTick(() => {
                        this.model1_loading = true
                    });
                    return;
                }

                axios.post('/buyer/update', this.buyerEntity)
                    .then(response => {
                        response = response.data;
                        if (response.code == 200) {
                            thiz.query();
                            thiz.buyerEntity = {};
                            thiz.modal2 = false; // 关闭窗口
                        } else {
                            thiz.model1_loading = false;
                            thiz.$nextTick(() => {
                                thiz.model1_loading = true
                            });
                        }
                        thiz.$Message.info({
                            content: response.msg,
                            duration: 10,
                            closable: true
                        });
                    })
                    .catch(function (error) { // 请求失败处理
                        thiz.$Message.error({
                            content: error,
                            duration: 10,
                            closable: true
                        });
                        thiz.model1_loading = false;
                        thiz.$nextTick(() => {
                            thiz.model1_loading = true
                        });
                    });
            },

            cancel (name) {
                this.$refs[name].resetFields();
            },

            page_change (page) {
                this.page=page;
                this.query()
            },
            pageSize (size) {
                this.page_size=size;
                this.page=1;
                this.query()
            },
            queryInput() {
                this.page=1;
                this.query()
            },
            query() {
                var thiz = this,
                    url = '/buyer/pageQuery/'+(this.page-1)+'/'+this.page_size;
                if (this.kayword != '') {
                    url += '?kayword=' + this.kayword;
                }
                axios.get(url)
                    .then(response => {
                        response = response.data;
                        if (response.code == 200) {
                            if (response.data.content == undefined) {
                                thiz.buyerEntity2 = response.data;
                            } else {
                                thiz.data1 = response.data.content;
                                thiz.page = response.data.number+1;
                                thiz.page_size = response.data.size;
                                thiz.page_total = response.data.totalElements;
                            }
                        } else {
                            thiz.$Message.info({
                                content: response.msg,
                                duration: 10,
                                closable: true
                            });
                        }
                    })
                    .catch(function (error) { // 请求失败处理
                        thiz.$Message.error({
                            content: error,
                            duration: 10,
                            closable: true
                        });
                    });
            },
            menu_select(name) {
                menuSelect.menu_select(name)
            },
            logout() {
                axios.get('/user/logout')
                    .then(response => {
                        response = response.data;
                        if (response.code == 200) {
                            window.location.href='/'
                        } else {
                            thiz.$Message.info({
                                content: response.msg,
                                duration: 10,
                                closable: true
                            });
                        }
                    })
                    .catch(function (error) { // 请求失败处理
                        thiz.$Message.error({
                            content: error,
                            duration: 10,
                            closable: true
                        });
                    });
            },
            updatePwd() {
                var thiz = this;
                if (this.pwdEntity.password != this.pwdEntity.passwordSecond) {
                    this.$Message.error({
                        content: '两个密码输入不一致',
                        duration: 10,
                        closable: true
                    });
                    return;
                }
                axios.post('/user/updateUser', this.pwdEntity)
                    .then(response => {
                        response = response.data;
                        // if (response.code == 200) {
                        //     thiz.logout()
                        // }
                        thiz.$Message.info({
                            content: response.msg,
                            duration: 10,
                            closable: true
                        });
                    })
                    .catch(function (error) { // 请求失败处理
                        thiz.$Message.error({
                            content: error,
                            duration: 10,
                            closable: true
                        });
                    });
            },
            cancelPwd(name) {
                this.$refs[name].resetFields();
            }
        }
    });
</script>
</html>
