<template>
    <i-Menu :active-name="activeName" theme="light" width="auto" @on-select="menu_select">
        <Menu-item name="1-1" >
            <Icon type="ios-navigate"></Icon>
            投标编辑
        </Menu-item>
        <Menu-item name="1-2">
            <Icon type="ios-keypad"></Icon>
            标书管理
        </Menu-item>
        <Menu-item name="1-3">
            <Icon type="ios-analytics"></Icon>
            供应商信息管理
        </Menu-item>
        <Menu-item name="1-4">
            <Icon type="ios-man"></Icon>
            采购员/审计员信息
        </Menu-item>
    </i-Menu>
</template>
