<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyg.bidcenter.mapper.UserMapper">

    <resultMap id="getUserMap" type="com.dyg.bidcenter.entity.SysUserEntity">
        <id column="uId" property="id"/>
        <result column="account" property="account"/>
        <result column="phone_num" property="phoneNum"/>
        <result column="password" property="password"/>
        <result column="secret_key" property="secretKey"/>
        <result column="nick_name" property="nickName"/>
        <result column="portrait_uri" property="portraitUri"/>
        <result column="balance" property="balance"/>
        <collection property="rolesEntityList" ofType="com.dyg.bidcenter.entity.SysRolesEntity">
            <id column="rId" property="id"/>
            <result column="role" property="role"/>
            <result column="rDescription" property="description"/>
        </collection>
        <collection property="permissionsEntities" ofType="com.dyg.bidcenter.entity.SysPermissionsEntity">
            <id column="pId" property="id"/>
            <result column="permission" property="permission"/>
            <result column="pDescription" property="description"/>
        </collection>
    </resultMap>
    <insert id="insertUser" parameterType="com.dyg.bidcenter.entity.SysUserEntity">
        insert into sys_user(account,
        password,
        secret_key,
        nick_name,
        portrait_uri,
        balance,created_time)
        values (#{account}, #{password}, #{secretKey}, #{nickName}, #{portraitUri}, #{balance}, NOW())
    </insert>

    <update id="decBalance">
        update sys_user
        set balance = balance - #{num}
        where id=#{userId} and is_valid=1 and balance >= #{num}
    </update>

    <update id="addBalance">
        update sys_user
        set balance = balance + #{num}
        where id=#{userId} and is_valid=1
    </update>

    <update id="updateUser" parameterType="com.dyg.bidcenter.entity.SysUserEntity">
        update sys_user
        <set>
            <if test="phoneNum != null and phoneNum != ''">phone_num=#{phoneNum},</if>
            <if test="password != null and password != ''">password=#{password},</if>
            <if test="nickName != null and nickName != ''">nick_name=#{nickName},</if>
            <if test="portraitUri != null and portraitUri != ''">portrait_uri=#{portraitUri},</if>
        </set>
        where id=#{id} and is_valid=1
    </update>

    <select id="getUser" resultMap="getUserMap">
        select
        us.id uId,
        us.account,
        us.phone_num,
        us.password,
        us.secret_key,
        us.nick_name,
        us.portrait_uri,
        us.balance,
        ro.id rId,
        ro.role,
        ro.description rDescription,
        pe.id pId,
        pe.permission,
        pe.description pDescription
        from sys_user us
        left join sys_users_roles ur on us.id = ur.user_id and ur.is_valid=1
        left join sys_roles ro on ur.role_id=ro.id and ro.is_valid=1
        left join sys_roles_permissions rp on ro.id = rp.role_id and rp.is_valid=1
        left join sys_permissions pe on rp.permission_id=pe.id and pe.is_valid=1
        where us.account=#{account} and us.is_valid=1
    </select>

    <select id="getUserById" resultType="com.dyg.bidcenter.entity.SysUserEntity">
        select
        id,
        account,
        phone_num phoneNum,
        password,
        secret_key secretKey,
        nick_name nickName,
        portrait_uri portraitUri,
        balance
        from sys_user
        where id=#{userId} and is_valid=1
    </select>

</mapper>
