<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyg.bidcenter.mapper.UserMapper">

    <resultMap id="getUserMap" type="com.dyg.bidcenter.entity.SysUserEntity">
        <id column="uId" property="id"/>
        <result column="account" property="account"/>
        <result column="password" property="password"/>
        <collection property="rolesEntityList" ofType="com.dyg.bidcenter.entity.SysRolesEntity">
            <id column="rId" property="id"/>
            <result column="role" property="role"/>
            <result column="rDescription" property="description"/>
        </collection>
        <collection property="permissionsEntities" ofType="com.dyg.bidcenter.entity.SysPermissionsEntity">
            <id column="pId" property="id"/>
            <result column="permission" property="permission"/>
            <result column="pDescription" property="description"/>
        </collection>
    </resultMap>
    <insert id="insertUser" parameterType="com.dyg.bidcenter.entity.SysUserEntity" keyProperty="id" useGeneratedKeys="true">
        insert into sys_user(account, password,created_time)
        values (#{account}, #{password}, NOW())
    </insert>

    <update id="updateUser" parameterType="com.dyg.bidcenter.model.SysUserModel">
        update sys_user
        <set>
            <if test="password != null and password != ''">password=#{password},</if>
            <if test="isValid != null">is_valid=#{isValid},</if>
        </set>
        where id=#{id} and is_valid=1
    </update>

    <select id="getUser" resultMap="getUserMap">
        select
        us.id uId,
        us.account,
        us.password,
        ro.id rId,
        ro.role,
        ro.description rDescription,
        pe.id pId,
        pe.permission,
        pe.description pDescription
        from sys_user us
        left join sys_users_roles ur on us.id = ur.user_id and ur.is_valid=1
        left join sys_roles ro on ur.role_id=ro.id and ro.is_valid=1
        left join sys_roles_permissions rp on ro.id = rp.role_id and rp.is_valid=1
        left join sys_permissions pe on rp.permission_id=pe.id and pe.is_valid=1
        where us.account=#{account} and us.is_valid=1
    </select>

    <select id="getUserById" resultType="com.dyg.bidcenter.entity.SysUserEntity">
        select
        id,
        account,
        password
        from sys_user
        where id=#{userId} and is_valid=1
    </select>
    <select id="getBuyer" resultType="com.dyg.bidcenter.entity.SysBuyerEntity">
        select
        t1.account,
        t2.*
        from sys_user t1
        inner join sys_buyer t2 on t2.is_valid=1 and t1.id=t2.user_id
        where t1.is_valid=1
    </select>

</mapper>
